#threeD {
    padding: 5vh 0 0 5vw;
}
#threeD h1{
    font-size: 7vh;
    margin: 0;
}
#threeD p{
    font-size: 3vh;
    width: 80vw;
}
#threeD a{
    color: #CCCCCC;
}
#threeD #wrapper{
    margin-left: 5vw;
}
#threeD #wrapper .gallery:nth-child(3n-2) {
    width: 80vw;
}
#threeD #wrapper .gallery {
    width: 40vw;
}
#videowrapper video {
    width: 100%;
}
#buttonSoft {
    width: 2.5vw;
    height: 2.5vw;
    margin: 1.25vw;
    background-color: white;
    position: absolute;
    color: black;
    background-image: url("../media/3d/mute.jpg");
    background-size: 200% 100%;
    cursor: pointer;
}
.muted {
    background-position: -100%;
}
@media only screen and (max-aspect-ratio: 1/1) {
    #threeD h1 {
        font-size: 50px;
    }
    
    #threeD p {
        font-size: 20px;
    }
    
    #threeD a {
        color: #CCCCCC;
    }

    #threeD #wrapper img {
        width: 80vw;
    }
}