#home {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  justify-content: center;
}

#home #subHeader {
  width: 90vw;
  text-align: center;
  font-size: 2vw;
}

#home .content-align {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

#home .content-align img {
  width: 45vw;
  height: 30vw;
}

#home .content-align div {
  width: 39vw;
  height: 30vw;
  padding: 0 3vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5vw;
}

@media only screen and (max-aspect-ratio: 1/1) {
  #home #logo {
    width: 30%;
    margin: 15% 0 10% 35%;
  }
 
  #home #subHeader {
    width: 100%;
    text-align: center;
    font-size: 4vw;
  }

  #home .content-align {
    margin-bottom: 5vh;
    flex-direction: column;
  }

  #home .content-align img {
    width: 100%;
    height: auto;
  }

  #home .content-align div {
    width: auto;
    height: auto;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 4vw;
  }
}

@media only screen and (max-aspect-ratio: 4/3) {
  #home #logo {
    width: 26vw;
    margin-left: 32vw;
  }
}

@media only screen and (min-aspect-ratio: 4/3) {
  #home #logo {
    width: 15vw;
    margin-left: 37.5vw;
  }
}
