/*region nav*/
nav {
    height: 100vh;
    line-height: 100vh;
    transform: translateX(-100vh);
    transition: transform 0.8s ease-in-out;
    position: fixed;
}
#navVisible {
    transform: translateX(0);
}
nav #navClose {
    font-size: 6vh;
    position: absolute;
    top: 3vh;
    right: 3vh;
}
nav #navContent {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
nav #navContent p {
    font-size: 5vh;
    width: 90vw;
    margin: 0 0 5vh 10vw;
}
#burgerContainer {
    display: block !important;
    padding: 2vh 5vw;
}
#burgerContainer #burger {
    font-size: 6vh;
    margin: 0;
    padding: 0;
}
/*endregion*/

.subDiv {
    min-height: 90vh;
    width: 100vw;
    padding: 0 5vw;
}

.subDiv h1 {
    font-size: 4vh;
}

#films #imagecontainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3vw;
}

#films img{
    width: 40vw;
    margin: 1vh 1vw;
    padding: 0;
}