/*region nav*/
nav {
    line-height: 100vh;
    height: 100vh;
    transform: translateX(-100vh);
    transition: transform 0.8s ease-in-out;
    position: fixed;
}
#navVisible {
    transform: translateX(0);
}
nav #navClose {
    font-size: 6vh;
    position: absolute;
    top: 3vh;
    right: 3vh;
}
nav #navContent {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
nav #navContent p {
    font-size: 5vh;
    width: 100vw;
    margin: 0 0 5vh 10vw;
}
#burgerContainer {
    display: block !important;
    padding: 2vh 5vw;
    width: 100vw !important;

}
#burgerContainer #burger {
    font-size: 6vh;
    margin: 0;
    padding: 0;
}
/*endregion*/

.subDiv {
    min-height: 90vh;
    width: 100vw;
    padding: 0 5vw;
}

.subDiv h1 {
    font-size: 4vh;
}

#films #imageContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8vw;
}

#films img{
    width: 40vw;
    margin: 1vh 1vw;
    padding: 0;
}

#filmDetail {
    min-height: 90vh;
    padding: 1vh 0 10vh 10vw;
}

#filmDetail #poster {
    width: 80vw;
    margin: 0 5vw;
}
#filmDetail iframe {
    width: 90vw;
    height: 50vw;
}
#filmDetail h1 {
    font-size: 50px;
}
#filmDetail h2 {
    font-size: 30px;
}
#filmDetail p {
    font-size: 20px;
}
#filmDetail #year {
    color: #CCCCCC;
}
#filmDetail a {
    color: #E0E0E0;
}