#photos h1 {
  padding-left: 5vw;
}

#photos #imgContainer {
  width: 100vw;
  padding-left: 5vw;
}
#photos #imgContainer img {
  object-fit: cover;
  padding: 0;
  cursor: pointer;
}
#fullScreenImgDiplayContainer {
  display: none;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}
#fullScreenImgDisplay {
  height: 100%;
}
#fullScreenImgClose {
  font-size: 5vh;
  position: absolute;
  left: 95vw;
  top: 2vh;
  display: none;
  cursor: pointer;
}
#arrowLeft, #arrowRight {
  display: none;
  font-size: 2vw;
  position: absolute;
  top:50%;
}

#arrowLeft {
  left: 4vw;
}
#arrowRight {
  left: 94vw;
}
@media only screen and (max-aspect-ratio: 4/3) {
  #photos #imgContainer img {
    width: 45vw;
    height: 45vw;
  }
}

@media only screen and (min-aspect-ratio: 4/3) {
  #photos #imgContainer img {
    width: 30vw;
    height: 30vw;
  }
}
.contentWrapper {
  padding: 0;
}

.elfsight-app-2313fb09-0d8d-466f-9903-03d1c6166661 {
  width: 100%;
  margin-left: 5%;
}