#photos h1 {
  padding-left: 5vw;
}

#photos #imgContainer {
  width: 100vw;
  padding-left: 5vw;
}
#photos #imgContainer img {
  object-fit: cover;
  padding: 0;
}
@media only screen and (max-aspect-ratio: 4/3) {
  #photos #imgContainer img {
    width: 45vw;
    height: 45vw;
  }
}

@media only screen and (min-aspect-ratio: 4/3) {
  #photos #imgContainer img {
    width: 30vw;
    height: 30vw;
  }
}
