body {
     overflow-x: hidden !important;
 }

/*region nav*/
nav #navClose {
    display: none;
}
nav {
    width: 100vw;
}
nav #navContent {
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
}
nav #navContent .navLinks {
    right: 0;
    padding: 2vh 1vw;
    margin: 0;
    font-size: 3vh;
    cursor: pointer;
    transition: color 0.5s;
}
nav #navContent .navLinks:hover{
    color: #e9931a;
}
/*endregion*/

/*region films*/
#films h1 {
    margin-left: 10.5vw;
}
#films #imageContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10vw;
}

#films img {
    margin: 2vh 0.5vw;
    padding: 0;
    filter: grayscale(100%);
    transition: filter 0.5s;
    cursor: pointer;
}
#films img:hover {
    filter: grayscale(0);
}
@media only screen and (max-aspect-ratio: 4/3) {
    #films img{
        width: 19vw;
    }
}

@media only screen and (min-aspect-ratio: 4/3) {
    #films img{
        width: 15vw;
    }
}

#filmDetail {
    padding: 5vh 0 0 5vw;
}

#filmDetail #film_alignLeft {
    height: 45vh;
    width: 30vw;
    float: left;
    justify-content: center;
    display: flex;
    margin-bottom: 10vh;
}

#filmDetail #film_alignRight {
    height: 45vh;
    width: 70vw;
    margin-bottom: 10vh;
}
#filmDetail #film_alignRight p{
    width: 90vw;
}
#filmDetail #poster {
    height: 50vh;
}
#filmDetail #iframeContainer {
    display: flex;
    justify-content: center;
}
#filmDetail #iframeContainer iframe {
    width: 60vw;
    height: 35vw;
    border: none;
    margin-bottom: 1vh;
}
#filmDetail h1 {
    font-size: 7vh;
    margin: 1vh 0;
}
#filmDetail h2 {
    font-size: 5vh;
    margin: 1vh 0;
}
#filmDetail p {
    font-size: 3vh;
    margin: 1vh 0;
}
#filmDetail a {
    color: #CCCCCC;
}
#filmDetail #year {
    font-size: 5vh;
}
#filmDetail #secondLink {
    margin-bottom: 5vh;
    text-align: center;
}
#films #sortMethod {
    width: 80vw;
    margin-left: 10vw;
    background-color: #111111;

}
#films #sortMethod #sortMethodSelecter{
    font-size: 3vh;
    padding: 0.5vh 1vw;
    margin: 0;
    min-width: 10vw;
    user-select: none;
}
#films #sortMethod #dropdown{
    position: absolute;
    z-index: 100;
    min-width: 10vw;
    background-color: #111111;
    padding: 0;
}
#films #sortMethod #dropdown p{
    padding: 1vh 1vw;
    margin: 0;
    cursor: pointer;
}
#films #sortMethod #dropdown p:hover{
    background-color: #2b2b2b;
}
/*endregion*/

/*region photos*/
#photos h1{
    padding-left: 5vw;
}

#photos #imgContainer {
    width: 100vw;
    padding-left: 5vw;
}
#photos #imgContainer img{
    width: 30vw;
    height: 30vw;
    object-fit:cover;
    padding: 0;
}
/*endregion*/

/*region web*/
#web {
     padding: 0 5vw;
}
#web h2, #web p, #web iframe, #web hr{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
#web #container {
    display: flex;
    justify-content: center;
}
#web iframe {
    border: none;
    width: 70vw;
    height: 40vw;
}
#web hr {
    color: #e2e2e2;
}
/*endregion*/

/*region 3d*/
#threeD {
    padding: 5vh 0 0 5vw;
}
#threeD h1{
    font-size: 7vh;
    margin: 0;
}
#threeD p{
    font-size: 3vh;
    width: 80vw;
}
#threeD a{
    color: #CCCCCC;
}
#threeD img{
    width: 80vw;
    margin-left: 5vw;
}
/*endregion*/