nav #navClose {
    display: none;
}
nav {
    width: 100vw;
}
nav #navContent {
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
}
nav #navContent .navLinks {
    right: 0;
    padding: 2vh 1vw;
    margin: 0;
    font-size: 3vh;
    cursor: pointer;
    transition: color 0.5s;
}
nav #navContent .navLinks:hover{
    color: #e9931a;
}

@media only screen and (max-aspect-ratio: 4/3) {
    #films #imagecontainer {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10vw;
    }

    #films img{
        width: 19vw;
        margin: 2vh 0.5vw;
        padding: 0;
    }
}

@media only screen and (min-aspect-ratio: 4/3) {
    #films #imagecontainer {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10vw;
    }

    #films img{
        width: 15vw;
        margin: 2vh 0.5vw;
        padding: 0;
    }
}